listen "<%= node["unicorn"]["sock_path"] %>/unicorn.sock"
worker_processes 2
pid "<%= node["unicorn"]["pid_path"] %>/unicorn.pid"
stderr_path "<%= node["unicorn"]["log_path"] %>/error.log"
stdout_path "<%= node["unicorn"]["log_path"] %>/unicorn.log"
