[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=<%= node["nginx"]["pid_path"] %>/nginx.pid
ExecStartPre=<%= node["nginx"]["sbin_path"] %>/nginx -t
ExecStart=<%= node["nginx"]["sbin_path"] %>/nginx
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
